
.message-success {
    color: #444444;
    margin-top: 2rem;
}

.message-failure {
    color: red;
    margin-top: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 15rem;
}

.index-btn {
    height: 2rem;
    width: 12rem;
}

.index-btn:first-child {
    margin-right: 2rem;
}

.register-container {
    display: flex;
    flex-direction: column;
    margin: 10rem 15rem;
}

.register-element {
    margin-bottom: 0.8rem;
}

.register-element-input {
    width: 20rem;
    height: 2rem;
}

.register-element-code {
    margin-left: 1rem;
}

.find-password {
    margin-top: 1rem;
}

.show-monitor-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.monitor-message {
    margin-top: 1rem;
}

.log-monitor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.log-monitor-top {
    display: flex;
    flex-direction: row;
}

.log-monitor-title {
    display: flex;
    flex: 1;
    /*justify-content: center;*/
}

.log-monitor-line {
    width: 100%;
}

.log-monitor-content {
    display: flex;
    flex-direction: row;
}

.log-monitor-content-left {
    flex: 1;
    height: 100%;
}

.log-li {
    padding: 0.6rem;
}

.log-monitor-content-right {
    flex: 2;
    height: 50rem;
}

.admin-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-query-users-btn {
    width: 50%;
    height: 2rem;
}

.admin-users {
    width: 100%;
}

.admin-user {
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
}

.admin-user-email {
    width: 12rem;
}

.admin-user-status {
    width: 12rem;
}