{% extends "layout.html"  %}
{% block body %}
  <div class="show-monitor-container" id="app">
    <div v-show="!showMonitor">
      <input type="text" autofocus="autofocus" v-model="uid" placeholder="输入要监控的uid" @keyup.enter="monitorEnterClick">
      <button @click="monitorClick">监控</button>
    </div>
    <div class="monitor-message" v-show="message != ''">
      [[message]]
    </div>

    <div class="log-monitor" v-show="showMonitor">
      <div class="log-monitor-top">
        <div>[[uid]]监控中</div>
        <button class="log-monitor-clear" v-show="logs.length>0" @click="clearLogs">清空</button>
      </div>
      <hr class="log-monitor-line">
      <div class="log-monitor-content">
        <ol class="log-monitor-content-left">
          <li class="log-li" v-for="log in logs" @click="logClick(log)" v-bind:style="{color: log.color}">
            [[log.url]]
          </li>
        </ol>
        <textarea class="log-monitor-content-right">[[logDetail]]</textarea>
      </div>

    </div>
  </div>
  <script>
  new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      socket: null,
      message: '',
      uid: '',
      showMonitor: false,
      logs: [],
      logDetail: ''
    },
    mounted: function () {
      this.$nextTick(() => {
        if (document.domain == '0.0.0.0') {
          this.socket = io.connect('http://' + document.domain + ':' + location.port)
        } else {
          this.socket = io.connect('https://' + document.domain + ':' + location.port)
        }

        this.socket.on('connect', () =>{
          console.log('Connected success')
          this.message = ''
        })
        this.socket.on('disconnect', () => {
          console.log('Disconnected')
          this.message = '网络异常，请刷新页面重试'
          this.showMonitor = false
        })
        this.socket.on('login', data => {
          this.logs = []
          console.log(data)
          if(data.status == 0) {
            this.message = ''
            this.showMonitor = true
          } else {
            this.message = data.msg
            this.showMonitor = false
          }
        })
        this.socket.on('log', data => {
          data.uuid = this.generateUUID()
          let choosed = false
          this.logs.forEach(log => {
            if (log.color == 'red'){
              choosed = true
            }
          })

          if (choosed == false) {
            data.color = 'red'
            this.logDetail = data.url + '\n\n' + data.req + '\n\n' + data.res
          }
          this.logs.unshift(data)
          while (this.logs.length > 20) {
            this.logs.pop()
          }
        })
      })
    },
    methods: {
      monitorEnterClick: function () {
        this.monitorClick()
      },
      monitorClick: function() {
        if (this.socket.connected) {
          if (this.uid == '' || this.uid == '0') {
            this.message = '请输入正确的uid'
            return
          }
          if (this.validateNum(this.uid)) {
            this.socket.emit('login', {uid: parseInt(this.uid)})
            this.message = ''
          } else {
            this.message = '请输入正确的uid'
          }

        } else {
          this.message = '网络异常，请刷新页面重试'
        }
      },
      clearLogs: function() {
        this.logs = [];
        this.logDetail = '';
      },
      validateNum: function(obj) {
        var reg = /^[0-9]*$/;
        return reg.test(obj);
      },
      logClick: function (log) {
        this.logs.forEach(element => {
          if (element.uuid == log.uuid) {
            element.color = 'red'
          } else {
            element.color = 'black'
          }
        })
         this.logDetail = log.url + '\n\n' + log.req + '\n\n' + log.res
      },
      generateUUID: function () {
        let d = new Date().getTime();
        let uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          let r = (d + Math.random()*16)%16 | 0
          d = Math.floor(d/16)
          return (c=='x' ? r : (r&0x3|0x8)).toString(16)
        })
        return uuid
      }
    }
  })
</script>
{% endblock %}

